body {
    background: url("../img/1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

@font-face {
    font-family: 'Olietta script BoldItalic';
    src: url('../fonts/Olietta_script_BoldItalic.ttf');
}

@font-face {
    font-family: 'CormorantInfant-Regular';
    src: url('../fonts/CormorantInfant-Regular.ttf');
}

#headerLena {
    font-family: 'CormorantInfant-Regular';
    color: rgb(192, 192, 192);
    text-shadow: rgb(98, 102, 101) 1px -2px 2px;
    z-index: -1;
}

#devizLena {
    z-index: -1;
    font-family: 'CormorantInfant-Regular';
    color: rgb(0, 155, 119);
    text-shadow: rgb(98, 102, 101) 1px -2px 2px;
}

#symbol {
    z-index: -1;
    color: rgb(0, 155, 119);
    font-size: 18px;
    text-shadow: rgb(98, 102, 101) 1px -2px 2px;
}

@media (max-width: 1149px) {
    #symbol {
        font-size: 10px;
        margin: 8px 133px;
    }
    #devizLena {
        font-size: 24px;
        margin: -12px 25px;
    }
    #headerLena {
        font-size: 48px;
    }
    .mainforName {
        position: fixed;
        top: 7%;
        left: 12%;
    }
    section .layer2 {
        height: 78%;
    }
}

@media (min-width: 1150px) and (max-width: 1900px) {
    #symbol {
        position: fixed;
        font-size: 18px;
        margin: 15px 190px;
    }
    #devizLena {
        font-size: 36px;
        margin: -20px 40px;
    }
    #headerLena {
        font-size: 69px;
    }
    .mainforName {
        position: fixed;
        top: 11%;
        left: 1%;
    }
    section .layer2 {
        height: 63%;
    }
}

@media (min-width: 1901px) {
    #symbol {
        font-size: 30px;
        margin: 165px 223px;
    }
    #devizLena {
        position: fixed;
        font-size: 50px;
        margin: 103px 31px;
    }
    #headerLena {
        position: fixed;
        font-size: 92px;
    }
    .mainforName {
        position: absolute;
        top: 11%;
        left: 1%;
    }
    section .layer2 {
        height: 63%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.row .column {
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
    z-index: 0;
}

.column img {
    width: 100%;
    vertical-align: middle;
    margin-top: 8px;
    transition: 1s;
    padding: 6px;
}

.column img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
    .row .column {
        flex: 50%;
        max-width: 50%;
    }
}

section .layer1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    z-index: -1;
    filter: blur(10px);
    background-position: center;
}

section .layer2 {
    position: fixed;
    top: 13%;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255, 0.5);
    display: flex;
    z-index: -1;
    background-position: center;
}

#photo-lena {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    float: right;
    vertical-align: top;
    margin: 20px 30px 0 0;
    z-index: 0;
}

.description {
    position: fixed;
    margin: 70px 60px;
    display: inline-block;
    width: 50%;
    font-size: 20px;
    font-family: 'CormorantInfant-Regular';
    z-index: 0;
}