body {
    background: url("../img/1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

 .navbar{
   border: none;
   border-radius: 0;
   background-color: rgba(0,0,0,0.5);
   font-family: 'Roboto';
   font-size: 20px;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format("truetype");
}

.navbar-nav .nav-link {
  text-align: center;
  padding: 10px;
  margin: 0 10px;
}

.navbar-brand{
  font-size: 20px;
}

.dropdown-menu{
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  font-size: 20px;
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}
.btn{
  font-size: 20px;
  font-family: 'Roboto';
  padding: 10px 8px 10px 14px;
  position: relative;
  background: transparent;
  width: 120%;
}