body {
    background: url("../img/1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
	flex-direction: column;
	min-height: 100%;
   }
.main{
    flex: 1 0 auto;
}
 .navbar{
   border: none;
   border-radius: 0;
   background-color: rgba(0,0,0,0.5);
   height: 50px;
}


@font-face {
font-family: 'Olietta script BoldItalic';
src: url('../fonts/Olietta_script_BoldItalic.ttf');
}


@font-face {
font-family: 'CormorantInfant-Regular';
src: url('../fonts/CormorantInfant-Regular.ttf');
}

.navbar-nav .nav-link {
  text-align: center;
  padding: 10px;
  margin: 0 10px;
  font-family: 'CormorantInfant-Regular';
  color: rgb(0, 155, 9);
  font-size: 18px;
}

.navbar-brand{
  font-size: 20px;
  font-weight:bold;
  font-family: 'CormorantInfant-Regular';
  padding: 13px 8px 10px 14px;
}
.dropdown{
display: inline-block;

}

.dropdown-menu{
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  line-height: 1;
  border: 0;
  padding: 5px 0px 10px 0px;
  border-radius: 0;
  width: 210%;
  display: none;
  z-index:99999999;
}

.dropdown-item{
padding: 10px 8px 10px 14px;
display: block;
font-family: 'CormorantInfant-Regular';
color: rgba(255,255,255,255);
font-size: 18px;
position: relative;
}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown-item:hover{
color:#009B77;
text-shadow: rgb(255, 255, 255) 1px -1px 2px;
  background-color: transparent !important;
}

.dropdown-menu:hover {display:inherit;}

.dropdown-divider {
    border-color: rgba(0,0,0,0.5);
}

#dropdownMenuButton {
  font-size: 15px;
  font-family: 'Roboto';
  padding: 10px 8px 16px 14px;
  position: relative;
  width: 110%;
  background: none; 
  border: none; 
  box-shadow: none;
  height:48px;
}
#headerLena{
  font-family: 'CormorantInfant-Regular';
  color: rgb(0, 155, 119);
  text-shadow: rgb(98, 102, 101) 1px -2px 2px;
}

#devizLena{
  font-family: 'CormorantInfant-Regular';
  color: rgb(0, 155, 119);
  text-shadow: rgb(98, 102, 101) 1px -2px 2px;
}
#symbol{
  color: rgb(0, 155, 119);
  font-size: 18px;
  text-shadow: rgb(98, 102, 101) 1px -2px 2px;
}

@media (max-width: 1149px) {
  #symbol{
    font-size: 10px;
    margin: 8px 133px;
  }
  #devizLena{
    font-size: 24px;
    margin: -12px 25px;

  }
  #headerLena{
    font-size: 48px;

  }
  .mainforName{
  position:fixed;
  top: 7%;
  left: 12%;
  }

}

@media (min-width: 1150px) and (max-width: 1650px) {
  #symbol{
  position:fixed;
    font-size: 18px;
    margin: 15px 190px;
  }
  #devizLena{
    font-size: 36px;
    margin: -20px 40px;

  }
  #headerLena{
    font-size: 71px;
}
 .mainforName{
  position:fixed;
  top: 11%;
  left: 1%;
  }


}

@media (min-width: 1651px) {
  #symbol{
    font-size: 25px;
    margin: -2% 1% 2% 13%;
  }
  #devizLena{
  font-size: 45px;
  left: -12%;
  margin: 1% 5%;
  }
  #headerLena{
    font-size: 82px;
    margin: -3% 1% 2% 15%;
  }
  .mainforName{
  position:fixed;
  top: 11%;
  left: 1%;
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row .column{
  flex: 33.3%;
  width: auto;
  overflow: hidden;
  padding: 0 4px;
  height: 100%;
  z-index: 0;
}

.column img{
  width: 100%;
  vertical-align: middle;
  margin-top: 8px;
}

@media only screen and (max-width: 800px){
  .row .column{
    flex: 50%;
    max-width: 50%;
  }
}

section .layer1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  display: flex;
  z-index: -1;
  filter: blur(10px);
  background-position: center;
}

.social-footer2{
display: flex;
  justify-content: center;
  align-items: center;
   padding: 3px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}

/* Main Footer */
footer .main-footer{
background: #252525;

 }

.social-footer2{

}

/* Footer 4 */
.footer- .logo { display: inline-block;}

.social-footer2 a:nth-child(1) {
  color: #009B77;
  margin-right: 5px;
}
.social-footer2 a:nth-child(2) {
  color: #009B77;
  margin-right: 5px;
}
.social-footer2 a:nth-child(3) {
  color: #009B77;
  margin-right: 5px;
}

.social-footer2 a:nth-child(4) {
  color: #009B77;
  margin-right: 5px;
}
.social-footer2 i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

/*====================
  Widgets
====================== */
.footer {
    flex: 0 0 auto;
}