{% extends "base.html" %}
{% load static %}
{% block page_content %}

<body>
    <section>
        <div class="layer1"></div>
        <div class="layer2"><div>
    </section>

<div id ="aboutcontainer" class="container-fluid">
        <img id="photo-lena" src="{% static "img/lena.jpg" %}">
        <div class="description">
                Я профессионально занимаюсь искусством фотографии уже 5 лет. За это время я убедилась в мнении, что не существует нефотогеничных людей и готова убедить в этом вас. Можете быть уверены, что я помогу раскрепоститься, выбрать правильную позу и найду индивидуальный подход именно к вам. Гарантирую качественный результат, максимальную заинтересованность и вовлеченность в процесс.
        </div>

</div>

</body>
{% endblock %}