{% extends "base.html" %}
{% load static %}
{% block page_content %}

<body>
    <section>
        <div class="layer1"></div>
        <div class="layer2"><div>
    </section>

<div id ="aboutcontainer" class="container-fluid">
        <img id="photo-lena" src="{% static "img/lena.jpg" %}">
        <div class="description">
            Привет, меня зовут Лена и я твой фотограф.

            Фотография для меня это искусство, это процесс выражения внутреннего и внешнего мира.
            Я делаю то что я люблю и умею. Здесь ты можешь познакомиться поближе с моим творчеством. Для воплощения своих идей я использую лучшую технику, многолетний опыт, обучение и безграничную любовь к фотографии.Желание качествено передать своё мироощущение через картинку мотивировало меня к постоянному обучению у лучших преподавателей.

            Так что если у вас давно нет новых фотографий с семьей? А может быть никогда не было индивидуаленой профессиональной фотосессии?Или может быть тебе не хватает красивых фото для личного контента в социальные сети? Я жду тебя и буду рада увидеть вас в своём объективе! Научу позировать, покажу твои рабочие позы, расскажу как расслабиться и получить удовольствие от процесса.
        </div>

</div>

</body>
{% endblock %}