{% extends "base.html" %}
{% load static %}
{% block page_content %}

<body>
<section>
<div class="layer1"></div>
</section>

    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <img src="{% static "img/DSC_0787.jpg" %}">
            </div>
            <div class="column">
                <img src="{% static "img/DSC_1230.jpg" %}">
            </div>
            <div class="column">
                <img src="{% static "img/DSC_1236.jpg" %}">
            </div>
        </div>
    
</div>    
</body>
{% endblock %}