{% extends "base.html" %}
{% load static %}
{% block page_content %}

<body>
<section>
    <div class="layer1"></div>
</section>
    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <img src="{% static "img/DSC_0089.jpg" %}">
            </div>
            <div class="column">
                <img src="{% static "img/DSC_0095.jpg" %}">
            </div>
            <div class="column">
                <img src="{% static "img/DSC_0155.jpg" %}">
            </div>
        </div>
    </div>
</body>
{% endblock %}